/* ============= FONTS ============ */

/*FOR LINKING IN HEAD OF HTML

<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Montserrat:300,400,500|Oswald" rel="stylesheet"> */

/* font-family: 'Montserrat', sans-serif; =====USE FOR BODY FONT (400 WEIGHT) AND H1 (300 WEIGHT)
font-family: 'Oswald', sans-serif; ============USE FOR H2-6, QUOTES, ETC, (400 WEIGHT) ITALIC
font-family: 'Libre Baskerville', serif; ======USE FOR FOOTER IN ALL CAPS (500 WEIGHT) */


/* ============= MAIN BODY STYLES ============ */
* {
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #8D8984;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: #fff;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    color: #8D8984;
}

/* ============= FLEX CONTAINERS ============ */
nav {
    display: flex;
}

/* ============= HEADER STYLES ============ */
header {
    justify-content: space-between;
    align-items: center;
}

.banner{
    background-color: #10B9D2;
    padding: 5px 20px;
    text-align: center;
}

h2.title {
    text-align: center;
}

/*  ============== NAVIGATION ================ */
nav ul{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: block;
    padding: 1em;
    align-self: center;
    margin: 0 0.5em;
}

nav li.item1{
    flex-basis: 12%;
    padding-right: 1.5em;
}

nav li.item5{
    flex-grow: 4;
}

nav li.item6{
    flex-basis: 5%;
    padding: 0px
}

nav img.nav-cart{
    max-width: 100%;
    max-height: 40px;
}

nav img.nav-logo{
    max-width: 100%;
    max-height: 100%;
    padding: 0px 10px;
}

nav li a{
    text-decoration: none;
    color: #9b9b9b;
}

nav li a.programs{
    text-decoration: none;
    color: #bbcb48;
}

nav li a.about{
    text-decoration: none;
    color: #f09139;
}

nav li.textLinks a:hover{
    background: #f4f4f4;
    text-decoration: none;
    border-bottom: 4px solid #9b9b9b;
    padding: 1.25em .25em;
}

/* ============= SHOPPING CART STYLES ============ */

.cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }

/* ============= FOOTER STYLES ============ */
footer{
    background-color: #8D8984;
    padding: 2em;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    line-height: initial;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

footer a {
    color: #fff;
    padding: 3px;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.footer-social{
    font-size: 2em;
    margin-left: auto;
    float: right;
}