/* ============= ABOUT:LANDING ============ */
#aboutLanding {
    height: calc(100vh - 60px);
    width: 100%;
    margin: auto;
    background: url('../images/camp2.png');
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

#aboutTeam {
    display:block;
    position: absolute;
    padding-top: 21em;
    color: white;
    font-size: 25px;

}

#mission {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    min-width: 200px;
    background-color: rgba(75, 133, 132, .8);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 25px;
}


/* ============= ABOUT: CONTENT ============ */
.flex-badge, .flex-info{
    list-style-type: none;
}

#badgesDiv img {
    max-width: 400px;
    max-height: 400px;
    margin-top: 2em;
}

.role {
    font-size: 35px;
    display: inline-block;
    margin-left: 5em;
}

#badgesDiv h3 {
    font-size: 25px;
    width: 100%;

}

#badgesDiv {
    display: inline-flex;
    justify-content: flex-start; 
    flex-direction: row;
    width: 100%;
    margin-top: 0;
    background-color: white;
    color: #4B8584
}

/* ============= CONTACT ============ */
#contact {
    height: calc(100vh - 60px);
    width: 100%;
    margin: auto;
    background: url('../images/camp4-01.png');
    display: flex;
    background-size: cover;
    background-position: center;
    top: 0;
}

#contactForm {
    display: flex;
    flex-flow: column;
    margin-bottom: 15em;
    margin-top: 3%;
    margin-left: 34%;
    color: black;
    background-color: rgba(255, 255, 255, .7);
    padding: 2em;
    border-radius: 10px;
}

#contactForm h3 {
    text-align: center;
}

#contact span {
    margin-top: 1em;
}

#contact-submit {
    background-color: rgba(255, 255, 255, .4);
    border-radius: 0 0 10px 10px;
    width: 50%;
    margin-left: 25%;
}

#submitIcon {
    height: 50px;
}
