/* ============= MAIN BODY STYLES ============ */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    color: #8D8984;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: #fff;
}

h2,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    color: #8D8984;
}

.home-h3{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    font-weight: normal;
    color: #10B9D2
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* ============= FLEX CONTAINERS ============ */
nav{
    display: flex;
}

/* ============= HEADER STYLES ============ */
header {
    justify-content: space-between;
    align-items: center;
}

.banner{
    background-image: url(/images/homepage-banner.png); 
    background-repeat: no-repeat;
    background-color: #b380A6;
    padding: 5px 20px;
    text-align: center;
}


/*  ============== NAVIGATION ================ */

nav ul{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: block;
    padding: 1em;
    align-self: center;
    margin: 0 0.5em;
    /* border: 1px solid red; */
}

nav li.item1{
    flex-basis: 12%;
    padding-right: 1.5em;
}

nav li.item5{
    flex-grow: 4;
}

nav li.item6{
    flex-basis: 5%;
    padding: 0px
}

nav img.nav-cart{
    /* margin: auto; */
    max-width: 100%;
    max-height: 40px;
}

nav img.nav-logo{
    max-width: 100%;
    max-height: 100%;
    padding: 0px 10px;
}

nav li a{
    text-decoration: none;
    color: #9b9b9b;
}

nav li a.programs{
    text-decoration: none;
    color: #bbcb48;
}

nav li a.about{
    text-decoration: none;
    color: #f09139;
}

nav li.textLinks a:hover{
    background: #f4f4f4;
    text-decoration: none;
    border-bottom: 4px solid #9b9b9b;
    padding: 1.25em .25em;
}

/* ============= INDEX STYLES ============ */

.home-h1{
    font-size: 2em;
}

#hero{
    padding-top: 0;
    display: flex;
}

.card{
    position: absolute;
    top: 165px;
    left: 50px;
    width: 350px;
    height: 280px;
    border-radius: 3px;
    background-color: #10B9D2;
    color: white;
}

.values{
    padding: 1em 2em;
    margin: 10px;
}

.pillars{
    font-family: 'Libre Baskerville', Georgia; serif;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    color: #BBC946;
    line-height: 1.8em;
    text-align: center;
}


/* ============= FOOTER STYLES ============ */
footer{
    background-color: #8D8984;
    border-top: #10B9D2 solid 10px;
    padding: 2em;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    line-height: initial;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

footer a {
    color: #fff;
    padding: 3px;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.footer-social{
    font-size: 2em;
    margin-left: auto;
    float: right;
}

/* ============= ABOUT:LANDING ============ */

#aboutLanding {
    height: calc(100vh - 60px);
    width: 100%;
    margin: auto;
    background: url('../images/camp2.png');
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
    margin-top: 60px;
}

#aboutTeam {
    display:block;
    position: relative;
    padding-top: 9em;
    color: white;
    font-size: 25px;

}

#mission {
    display: block;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    min-width: 200px;
    background-color: rgba(75, 133, 132, .8);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 25px;
    position: relative;
}


/* ============= ABOUT: CONTENT ============ */
.flex-badge, .flex-info{
    list-style-type: none;
}

#badgesDiv img {
    max-width: 400px;
    max-height: 400px;
    margin-top: 2em;
}

.role {
    font-size: 35px;
    display: inline-block;
    margin-left: 5em;
}

#badgesDiv {
    display: inline-flex;
    justify-content: flex-start; 
    flex-direction: row;
    width: 100%;
    margin-top: 39em;
    background-color: white;
}

/* ============= CONTACT ============ */
#contact {
    height: calc(100vh - 60px);
    width: 100%;
    margin: auto;
    background: url('../images/camp4-01.png');
    display: flex;
    background-size: cover;
    background-position: center;
    top: 0;
}

#formDiv {
    margin: auto;
}
#contactForm {
    display: flex;
    flex-flow: column;
    margin-bottom: 15em;
    margin-top: 5%;
    color: #4B8584;
    background-color: rgba(255, 255, 255, .7);
    padding: 2em;
    border-radius: 10px;
}

#contactForm h3 {
    text-align: center;
}

#contact span {
    margin-top: 1em;
}

#contact-submit {
    background-color: rgba(255, 255, 255, .4);
    border-radius: 0 0 10px 10px;
    width: 50%;
    margin-left: 25%;
}

#submitIcon {
    width:100%;
}
