
* {
    margin: 0;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #8D8984;
}

br {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 300;
}

h3 {
    margin-top: 5px;
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    color: #8D8984;
}

h4 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #8D8984;
}

img {
border-radius: 41px 9px 55px 9px;
border: 10px solid #79CCC9;
box-shadow: -7px -1px 21px -9px rgba(0,0,0,0.96);

}

li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: center;
}

.flex-product {
    text-align: center;
    padding: 20px;
}

#center {
    justify-content: center;
    margin-bottom: 0;
}

#products1 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#products2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 0;
}